.Container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 66px;
  min-height: 80vh;
}

.Title3 {
  color: #2D3648;
  text-align: center;
  font-family: Inter;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  animation: fade-right 1.5s;
}

.ImagePartners {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  animation: fade-right 2s;
}

.SPX {
  height: 62px;
  width: 172px;
}

.LZD {
  height: 64px;
  width: 271px;
}

.JNT {
  height: 59px;
  width: 161px;
}

.DHL {
  height: 64px;
  width: 259px;
}

.GRB {
  height: 64px;
  width: 192px;
}

.NJV {
  height: 64px;
  width: 156px;
}

.LMV {
  height: 64px;
  width: 227px;
}

.LBC {
  width: 86px;
  height: 86px;
}

.ENT {
  height: 64px;
  width: 322px;
}

.UPS {
  width: 89px;
  height: 95px;
}

.JRS {
  height: 64px;
  width: 149px;
}

@keyframes fade-right {
  0% {
      opacity: 0;
      transform: translateX(40px) scale(1);
  }

  20% {
      opacity: 0;
      transform: translateX(20px) scale(1);
  }

  100% {
      opacity: 1;
      transform: translateX(0px) scale(1);
  }
}