.Container4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.image {
    width: 100%;
    height: auto;
}

.text {
    transform: translateY(65%);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header {
    width: 977px;
}

.description {
    width: 1617px;
}