.Container4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: -14rem;
}

.image {
    margin-top: 8rem;
    width: 100%;
    height: auto;
}

.text {
    transform: translateY(65%);
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 100%; 
    padding: 0 20px; 
    box-sizing: border-box; 
}

.header {
    width: 100%; 
    max-width: 70rem; 
}

.description {
    width: 100%; 
    max-width: 80rem; 
}