.logo {
    width: 15rem;
    height: 2.9375rem;    
}

.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavBar{
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.Nav {
    display: flex;
    gap: 32px;
    align-items: center;
    font-weight: bold;
}


a {
    all: unset;
}

li {
    all: unset;
}

li:hover {
    color: hsl(220, 23%, 43%);
    cursor: pointer;
}