
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    z-index: 1;
}

.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    background-color: #FAFAFA;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 2rem;
    background-image: url(/src/assets/Blurred\ TNG\ Icon.png);
    background-position: bottom right;
    background-size: 510px;
    background-repeat: no-repeat;
    flex-shrink: 0;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    padding-top: 3rem;
}

.signup.overlay {
    width: 521px;
    height: 659px;
    width: 32.5625rem;
    height: 41.1875rem;
}

.login.overlay{
    width: 521px;
    height: 577px;
}

.dimmed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.overlay h3 {
    color: var(--color-black);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 33px;
}

.overlay p {
    color: var(--color-black);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.text-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.email-field::placeholder,
.name-field::placeholder,
.password-field::placeholder {
    color: var(--color-idle-gray);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.email-field,
.name-field,
.password-field {
    width: 100%;
    display: flex;
    padding: 10px;
    padding-left: 48px;
    align-items: flex-start;
    border-radius: 10px;
    border: 1px solid #CBD2E0;
    background: #FEFEFE;
}

.password-field {
    margin-bottom: 43px;
}

.mail-icon,
.profile-icon,
.password-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 17px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    color: var(--color-black);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fbutton {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    line-height: normal;
    border: none;
    font-style: normal;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.fbutton:hover{
    transform: scale(1.05);
    filter: brightness(0.96);
}

.fbutton.primary {
    background: #DE5654;
    color: #FEFEFE;
    font-weight: 700;
    margin-bottom: 22px;
    cursor: pointer;
    height: 4.625rem;
}

.fbutton.secondary {
    color: #2D3648;
    font-weight: 600;   
    height: 3.0625rem;
    background: #FEFEFE;
    margin-bottom: 26px;
}

.hyperlink p {
    color: var(--color-idle-gray);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.hyperlink {
    color: var(--color-dark-blue);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.hyperlink a:hover {
    text-decoration: underline;
}