.Profile {
  display: flex;
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  animation: fade-left 1s;
  overflow-x: hidden;
}

.ProfileTitleSpace {
  width: 100%;
  height: 3.75rem;
}

.Profile .ProfileTitle {
  position: fixed;
  width: 100%;
}

.Profile .SideNavigation {
  height: 100%;
  position: fixed;
}

.SideNavSpace2 {
  width: 20.2rem;
}

.Profile1 {
  display: flex;
  height: 72rem;
  padding: 0;
  margin: 0;  
}

.Profile2 {
  display: flex;
  flex-direction: column;
  width: 99.1875rem;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f5f5f5;
}

.Profile3 {
  margin-top: -9.75rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.profile-header {
  width: 100%;
  height: 16.9375rem;
  flex-shrink: 0;
  background: url(/src/assets/photo-profile-header.jpg) lightgray 50% / cover
    no-repeat;
}

.Profile .SideNavigation .Frame2 {
  background: #edf0f7;
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(-40px) scale(1);
  }

  20% {
    opacity: 0;
    transform: translateX(-20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
