.admin-homepage {
    display: flex;
    flex-direction: row;
    background: #F5F5F5;
    z-index: 1; 
}

.admin-body {
    margin-left: 7.25rem;
    margin-top: 3.06rem;
    width: 83.25rem;
    height: 46.5rem;
    border-radius: 1.25rem;
    background: #FEFEFE;
}