    .admin-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    /* display: none; */
}

.a-dimmed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.a-overlay {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fade-in 1s;
    width: 75.0625rem;
    height: 56.3125rem;
    border-radius: 2.5rem;
    background: #FEFEFE;    
    padding: 3.38rem 8.87rem 2.81rem 8.94rem; 
}

.a-overlay-title {
    font-size: 30px;
    font-weight: 700;    
}

.o-input-fields {
    display: flex;
    flex-direction: row;
    margin-top: 3.37rem;
    margin-bottom: 4.63rem;
}

.o-left-fields {
    width: 50%;
    padding-right: 1.875rem;
}

.o-right-fields {
    width: 50%;
    padding-left: 1.875rem;
}

.o-buttons {
    display: flex;
    flex-direction: column;
}

.o-form-label {
    font-size: 16px;
    font-weight: 600;
}

.o-form input::placeholder {
    color: #717D96;
    font-feature-settings: 'calt' off;
    font-size: 16px;
    font-weight: 400;
}

.o-tracking-id-field .o-form input::placeholder,
.o-price-field .o-form input::placeholder {
    color: #2D3648;
    font-weight: 500;
}

input[type="text"],
.o-text-field {
    color: #2D3648;
    font-size: 16px;
    font-weight: 400;
}

.o-text-field {
    display: flex;
    padding: 0.625rem 1.3125rem;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.625rem;
    border: 1px solid #CBD2E0;
    background: #FEFEFE;   
    margin-top: 0.62rem;     
    width: 100%;
    height: 2.4375rem;
}

.o-field {
    margin-bottom: 2.5rem;
}

.o-weight-price-field {
    display: flex;
    flex-direction: row;
    gap: 2.13rem;
}

.o-weight-field,
.o-price-field {
    flex: 1;
}

.o-size-individual-field {
    display: flex;
    flex-direction: row; 
    align-items: baseline;
    gap: 0.56rem;
}

.o-x-icon {
    width: 0.9375rem;
    height: 0.9375rem;   
}

.o-dropdown {
    display: flex;
    padding: 0.625rem 1.3125rem;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.625rem;
    border: 1px solid #CBD2E0;
    background: #FEFEFE;   
    margin-top: 0.62rem;     
    width: 100%;
    position: relative;
}

.o-dropdown-fields {
    display: flex;
    flex-direction: row;
    gap: 0.62rem;
    margin-bottom: 2.5rem;;
}

.o-month-dropdown,
.o-day-dropdown,
.o-year-dropdown {
    flex: 1;
    height: 2.4375rem;
}

.o-dropdown-button {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;  
    margin-left: auto;   
}

.o-dropdown-content {   
    background: #FEFEFE;
    display: none;
    position: fixed;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 11;     
}

.o-dropdown-content a {
    padding: 12px 16px;
    display: block;
    font-size: 16px;
}

.o-dropdown:hover .o-dropdown-content {
    display: block;
    position: absolute;
    top: 100%;
    left: 0; 
    width: 100%; 
}

.o-dropdown-content a:hover {
    background-color: hsl(0, 0%, 95%);
}

.o-dropdown-placeholder {
    font-size: 16px;
    color: #717D96;
    font-weight: 400;
}

.o-status-dropdown {
    height: 2.4375rem;
}

.o-button {
    display: flex;
    height: 3.625rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
    font-size: 16px;
    font-weight: 600;    
    transition: transform 0.3s ease-in-out;
}

.o-button:hover{
    transform: scale(1.05);
    filter: brightness(0.96);
}

.o-add-parcel-confirm {
    background: #DE5654;        
    color: #FEFEFE;
    margin-bottom: 1.38rem;
}

.o-cancel-button {
    background: #F5F5F5;   
    color: #2D3648; 
}