.ParcelTrackerLogo {
    width: 15rem;
    height: 2.9385rem;
}

.ParcelTrackerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.55rem 2.60rem 1.45rem 1.50rem;
}

.Navi {
    display: flex;
    gap: 32px;
    align-items: center;
    font-weight: bold;
}

li {
    all: unset;
}

li:hover{
    color: hsl(220, 23%, 43%);
    cursor: pointer;
}