.Container1 {
    height: auto;
    width: 100%;
}

.Resize-image1 {
    width: 1044.9px;
    height: 724px;
    right: 0px;
    top: 154px;
    max-width: 100%;
    position: absolute;
}

.Text1 {
    padding-left: 149px;
    padding-top: 144px;
    max-width: 100%;
}

.Header1 {
    width: 600px;
    font-weight: 900;
    font-size: 56px;
    padding-bottom: 21px;
}

.Description1 {
    width: 683px;
    font-size: 16px;
    font-weight: 400;
    line-height: 33.88px;
}

.Input {
    padding-top: 35px;
}
.InputSquare {
    display: flex;
    gap: 10px;
}


.InputTitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    padding-bottom: 8px;
    width: 320px;
    height: 16px;
}

.InputBox {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    width: 320px;
    height: 46;
    position: relative;
    padding: 11px 12px;
    gap: 4px;
    border-radius: 6px;
    border: 2px solid;
    border-color: #CBD2E0;
    color: black;
}

.Search {
    width: 100px;
    height: fixed(47px);
    border-radius: 6px;
    background-color: #DE5654;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.Search:hover {
    cursor: pointer;
}