.Container1 {
    height: auto;
    width: 100%;
}

.Resize-image {
    width: 1044.9px;
    height: 724px;
    right: 0px;
    top: 154px;
    max-width: 100%;
    position: absolute;
}

.Text1 {
    padding-left: 149px;
    padding-top: 144px;
    max-width: 100%;
}

.Header1 {
    width: 600px;
    font-weight: 900;
    font-size: 56px;
    padding-bottom: 24px;
    text-align: left;
}

.Description1 {
    width: 683px;
    font-size: 16px;
    font-weight: 400;
    line-height: 33.88px;
    text-align: justify;
}