.Dashboard {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #F5F5F5;
  height: 100%;
  padding: 0;
  margin: 0;
  animation: fade-left 1s;
  overflow-x: hidden;
}

.DashboardTitleSpace {
  width: 100%;
  height: 3.75rem;
}

.Dashboard .DashboardTitle {
  position: fixed;
  width: 100%;
}

.Dashboard .SideNavigation {
  height: 100%;
  position: fixed;
}

.Dashboard1 {
  display: flex;
  flex-direction: row;
  height: 61.9375rem;
}

.Dashboard2 {
  display: flex;
  flex-direction: column;
  /* width: 99.1875rem; */
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Dashboard3 {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 3.05rem 0 0 0;
  gap: 2.04rem;
}

.Dashboard .SideNavigation .Frame1 {
  background: #edf0f7;
}

.Dashboard4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.56rem;
    padding-bottom: 3.05rem;
}

@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateX(-40px) scale(1);
    }

    20% {
        opacity: 0;
        transform: translateX(-20px) scale(1);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

.SideNavSpace {
  width: 20.2rem;
}