@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* * {
  border: solid 1px red;
} */

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.2;

  color-scheme: light dark;
  color: #2D3648;
  background-color: #FAFAFA;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text: rgb(240, 236, 236);
  --subtext: rgb(182, 182, 182);
  --background-text: rgb(12, 12, 12);
  --background: #ffffff;
  --primary: rgb(247, 210, 0);
  --primary-alt: rgb(224, 190, 2);
  --secondary: #00f2ff;
  --tertiary: #77ed09;
  
  --color-orange: #F2A74F;
  --color-green: #75C768;
  --color-dark-blue: #2D4EA2;
  --color-red: #DE5654;
  --color-black: #2D3648;
  --color-idle-gray: #717D96;
  --color-secondary-gray: #9FAAC0;
  --color-outline-gray: #CBD2E0;
  --color-selected-gray: #EDF0F7;
  --color-background-gray: #F5F5F5;
  --color-background-white: #FAFAFA;
  --color-overlay-white: #FEFEFE;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.font-12 {
  font-size: 12px;
  font-size: 0.75rem;
}

.font-13 {
  font-size: 13px;
  font-size: 0.8125rem;
}

.font-14 {
  font-size: 14px;
  font-size: 0.875rem;
}

.font-15 {
  font-size: 15px;
  font-size: 0.9375rem;
}

.font-16 {
  font-size: 16px;
  font-size: 1rem;
}

.font-17 {
  font-size: 17px;
  font-size: 1.0625rem;
}

.font-18 {
  font-size: 18px;
  font-size: 1.125rem;

}

.font-19 {
  font-size: 19px;
  font-size: 1.1875rem;
}

.font-20 {
  font-size: 20px;
  font-size: 1.25rem;
}

.font-30 {
  font-size: 30px;
  font-size: 1.875rem;
}

.font-45 {
  font-size: 45px;
  font-size: 2.8125rem;
}

.font-56 {
  font-size: 56px;
  font-size: 3.5rem;
}

.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
    /* body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */