.SettingsTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 3.75rem;
    background: #FEFEFE;
    padding: 0.62rem 1.69rem 0.62rem 1.69rem;
}

.font-semibold {
    font-size: 1.25rem;
    color: #2D3648;
}