.Settings {
    overflow-x: hidden;
}

.side-navigation {
    display: flex;
    flex-direction: row;
    height: 112rem;
    animation: fade-left 1s;
}

.settings-title-space {
    width: 100%;
    height: 3.75rem;
    margin-bottom: 2.94rem;
}

.Settings .SettingsTitle {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.Settings .SideNavigation {
    height: 81rem;
    position: fixed;
}

.settings-body {
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
}

.settings-pane {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f5f5f5;
}

.Settings .SideNavigation  .Frame3 {
    background: #EDF0F7;
}

@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateX(-40px) scale(1);
    }

    20% {
        opacity: 0;
        transform: translateX(-20px) scale(1);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

.SideNavSpace3 {
    width: 24rem;
    background-color: #F5F5F5;

}