.side-navigation {
    display: flex;
    flex-direction: row;
    height: 145.125rem;
    animation: fade-left 2.1s;
}

.settings-body {
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
}

.settings-pane {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f5f5f5;
}

.Settings .SideNavigation  .Frame3 {
    background: #EDF0F7;
}

@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateX(-40px) scale(1);
    }

    20% {
        opacity: 0;
        transform: translateX(-20px) scale(1);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}